{% extends 'base.html' %}
{% load static %}
{% block title_name %}
	Подробнее о товаре
{% endblock %}
{% block content %}
	<h1 class="my-2">Подробнее о {{ object }}</h1>
    <table class="my-2 table table-bordered">
    <thead>
    <tr>
        <th>Название</th>
        <th>Описание</th>
        <th>Стоимость</th>
        <th>Категория</th>
        <th>Типы</th>
        <th>Изображение</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>{{ object.name }}</td>
        <td>{% if object.description %}{{ object.description }}{% else %}Описание отсутствует{% endif %}</td>
        <td>{{ object.price }} руб.</td>
        <td>{{ object.category.name }}</td>
        <td>
            <ul>
                {% for pos_type in object.pos_type_set.all %}
                    <li>{{ pos_type.type.name }} - {{ pos_type.value }}</li>
                {% empty %}
                    <li>Нет типов</li>
                {% endfor %}
            </ul>
        </td>
        <td>
            {% if object.photo %}<img src="{{ object.photo.url }}" class="card-img-top" alt="...">
            {% else %}<img src="{% static 'green_shop/images/no_photo.jpg' %}" class="card-img-top" alt="...">
            {% endif %}
        </td>
    </tr>
    </tbody>
    </table>

    <form method="post" action="{% url 'basket_add' object.pk %}" class="my-2">
        {% csrf_token %}
        {{ form_basket }}
        <button type="submit" class="btn btn-outline-success my-2">Добавить в корзину</button>
    </form>

    <a href="{% url 'product_list' %}" class="btn btn-outline-primary my-2">Обратно к каталогу товаров</a>
{% endblock %}