{% extends 'base.html' %}
{% block title_name %}
    Главная
{% endblock %}

{% block content %}
    <div class="d-flex align-items-center justify-content-center flex-column height-100">
        <div class="d-flex align-items-center flex-column border rounded p-3">
            <h1>VChat</h1>
            <div class="d-flex align-items-center flex-column my-2">
                <form method="post">
                    {% csrf_token %}

                    {{ form.as_div }}
                    <input type="submit" value="Создать" class="btn s-bg-primary cr-secondary form-control">
                </form>
            </div>
            <div class="d-flex align-items-center flex-column my-2">
                <form method="post" action="{% url 'room_by_invite' %}">
                    {% csrf_token %}

                    {{ form_invite.as_div }}
                    <input type="submit" value="Присоединиться" class="btn s-bg-primary cr-secondary form-control">
                </form>

                <a href="{% url 'log in' %}" class="cr-white text-decoration-none my-2">Назад</a>
            </div>
        </div>
    </div>
{% endblock %}
