{% extends 'base.html' %}
{% block title_name %}
    Комната {{ room.name }}
{% endblock %}

{% block content %}
    <div class="px-3">
        <h1>Ваши комнаты:</h1>

        <div class="d-flex flex-column">
            {% for room in rooms %}
                <a class="btn fs-3 my-2" href="{% url 'room' room.pk %}">
                    <div class="bg-light">
                        {{ room.name }}
                    </div>
                </a>
            {% endfor %}
        </div>
    </div>
{% endblock %}
