{% extends 'base.html' %}

{% block title_name %}
    Заказы
{% endblock %}

{% block content %}
    <h1>Заказы</h1>

    <div class="row">
        {% for object in object_list %}
            <div class="col-12 d-flex justify-content-center">
                <div class="card my-3" style="width: 18rem">
                    <div class="card-body">
                        <h5 class="card-title">Заказ №{{ object.pk }}</h5>
                        <p class="card-text"><b>Дата: </b>{{ object.date_create }}</p>
                        <p class="card-text"><b>Состав заказа: </b></p>
                        <ol>
                            {% for pos_order in object.pos_order_set.all %}
                                <li>{{ pos_order.product.name }} ({{ pos_order.product.category }}) -
                                    {{ pos_order.sum_pos_order }}руб. ({{ pos_order.count }} шт.)</li>
                            {% endfor %}
                        </ol>
                        <h5 class="card-title">Стоимость: {{ object.price }} руб.</h5>
                    </div>
                </div>
            </div>
        {% empty %}
            <h2>Заказов нет</h2>
        {% endfor %}
    </div>
{% endblock %}